<div class="jumbotron text-center">


    <h1>{{ message }}</h1>

    <br>
    <br>

    <div class="row">
        <div class="col-md-6 col-md-offset-5">
            <p>
                <table>
                    <tr>
                        <td><img src="./images/shyft-logo.png"></td>
                    </tr>
                </table>
            </p>
        </div></div>
</div>