<style>
    .jumbotron {
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 50px;
    }

    tr {
        padding: 40px;
        border: black solid;
    }

    td {
        padding: 30px;
        border: black solid;
    }

    .btn-danger {
        margin-top: 10px;
    }
</style>
<div class="jumbotron text-center">
    <h1>News Articles</h1>
    <p>Please Take Some Time To View Our Updates Below</p>

    <br>
    <br>

    <div id="viewNewsPage" ng-controller="viewNewsController as list">
        <table id="newsTable" align="center" valign="middle">
            <thead>
            <td><b>Title</b></td>
            <td><b>Content</b></td>
            <td></td>
            </thead>
            <tbody ng-repeat="news in newss | filter: userSearch | orderBy: title">
            <tr>
            <td>
                {{news.title}}
            </td>
            <td>
                {{news.msg}}
            </td>
            <td>
                <button type="button" class="btn btn-info" ng-click="update(news)">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </button>
                <button type="button" class="btn btn-danger" ng-click="delete(news._id)">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
                </span>
            </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>